#root,body,html {
  background-color: #c7c7c7;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.title {
  color: rgba(255, 255, 255, 0.705);
}

.boton {
  background: #09f;
  color: #fff;
  margin-top: 20px;
  border: 0;
  padding: 4px 8px;
  font-size: 18px;
  cursor: pointer;
}

.descripcion {
  color: aliceblue;
}